@page "/"

<PageTitle>Tagalate</PageTitle>

<h1>Hello, world!</h1>

<div className="transBox" style="display:flex;align-items:center;justify-content:center">
    <div className="originLang" style="flex-grow:1">
        <h2>Tagalog</h2>
        <input />
    </div>
    <div className="destLang" style="flex-grow:1">
        <h2>English</h2>
    </div>
    <button>Translate</button>
</div>